<h2>Hi <%= @contact.name %> How are you!</h2>
<br />
I am <%= @contact.name %> from sss company. I want to learn ROR
<br />
<%= @contact.email  %> | <%= @contact.cell %>
<br />
<%= @contact.address %>