<!DOCTYPE html>
<html>
  <head>
    <title>Sss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Abel|Arvo" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<div id="wrapper">
	<div id="header-wrapper">
<!-- header --><%= render partial: "homes/header" %>
<!-- menu --> <%= render partial: "homes/mymenu" %>
		<div id="banner">
			<div id="slider"> <a href="#" class="button previous-button">&lt;</a> <a href="#" class="button next-button">&gt;</a>
				<div class="viewer">
					<div class="reel">
						<div class="slide">
							<h2>This is the first slide.</h2>
							<p>Lorem ipsum dolor sit amet nullam.</p>
							<a class="link" href="#">Full story ...</a><img src="<%= image_path 'img01.jpg' %>" width="900" height="350" alt="" /></div>
						<div class="slide">
							<h2>This is the second slide.</h2>
							<p>Lorem ipsum dolor sit amet nullam.</p>
							<a class="link" href="#">Full story ...</a><%= image_tag 'img01.jpg', size: "900*350" %></div>
					</div>
				</div>
				<div class="indicator">
					<ul>
						<li class="active">1</li>
						<li>2</li>
					</ul>
				</div>
			</div>
			<script type="text/javascript">
				$('#slider').slidertron({
					viewerSelector: '.viewer',
					reelSelector: '.viewer .reel',
					slidesSelector: '.viewer .reel .slide',
					advanceDelay: 3000,
					speed: 'slow',
					navPreviousSelector: '.previous-button',
					navNextSelector: '.next-button',
					indicatorSelector: '.indicator ul li',
					slideLinkSelector: '.link'
				});
			</script> 
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="content">
			<div class="contentbg">
				<div class="post">
					<%= yield %>
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar-bg">
			<div id="sidebar">
				<ul>
					<li>
						<h2>Recent News</h2>
						<ul>
							<li><a href="/suppliers">Suppliers</a></li>
							<li><%= link_to "Authors", authors_path %></li>
							<li><a href="#">Metus aliquam pellentesque</a></li>
							<li><a href="#">Suspendisse iaculis mauris</a></li>
							<li><a href="#">Urnanet non molestie semper</a></li>
							<li><a href="#">Proin gravida orci porttitor</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>2012. Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">fotogrph</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
